#home {
    position: relative;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 700px;
    height: auto;
    float: center;
    text-align: left;
    @include clearfix;

    fullstack-logo {
        padding-top: 30px;
        width: 150px;
        margin: 0 auto;
    }
    h1 {
        margin-top: 40px;
        text-align: center;
    }
    p {
        margin: 0 auto;
        font-size: 22px;
        font-color: black;
        font-weight: none;
        float: center;
        text-align: left;
        margin-bottom: 10px;
    }
    .home-text {
        font-size: 20px;
        margin: 0 auto;
        text-align: left;
    }
    .portfolio-item {
        margin-bottom: 50px;
    }
    h4 {
        text-align: center;
        margin: 0 auto;
        display: block;
    }
    .affiliation {
        font-weight: bold;
        text-align: center;

            margin: 0 auto;
            display: block;

            height: auto;
            // text-align: left;
            // font-size: 16px;
            // margin-bottom: 10px;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 680px) {
    #home .home-text {
        font-size: 18px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .description-responsive {
        font-size: 14px;
    }
}
