* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

#money {
  opacity: 0;
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  //z-index: 0;
}


#floatButton {
  padding: 30px;
  border-radius: 20px;
  border: none;
  background: #77cde3;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  outline: none;
  margin: 20px;
  z-index: 999;
}

#botImageEnd {
  position: fixed;
  top:25vw;
  left:25vw;
  z-index: 999;
}

#addProduct input{
  width:10%;

}

@-webkit-keyframes snow {
 0% {background-position: 0px 0px; opacity: 1}
 100% {background-position: 1000px 2500px, 800px 800px, 200px 200px; opacity: 0}
}

@-webkit-keyframes stephRoll {
 0% {-webkit-transform: rotate(0deg); -webkit-transform: scale(0,0); }
 50% {-webkit-transform: rotate(360deg); -webkit-transform: scale(20,20); }
 100% {-webkit-transform: rotate(0deg); -webkit-transform: scale(0,0); }
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
